@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-transition {
  transition: all 0.3s ease;
}
.transition-linear {
  transition: all 0.3s linear;
}
.transition-15 {
  transition: all 0.15s ease;
}

.user-select {
  -webkit-user-select: none;
}


/* Checkbox animation */
.confirm {
  background: #000;
}
.confirm__checkbox:checked + .confirm__label-callme::after {
  opacity: 1;
  visibility: visible;
}
.confirm__label-callme span {
  width: 23.5rem;
}
.confirm__label-callme {
  font-size: 1.25rem;
  line-height: 20px;
  letter-spacing: 1.4px;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 19px;
}
.confirm__label-callme::before {
  content: '';
  align-self: flex-start;
  flex: 0 0 25px;
  height: 25px;
  background-color: #D9D9D9;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 7px;
  transition: all .15s linear;
}
.confirm__label-callme::after {
  transition: all .3s ease;
  content: '';
  background-color: #FF9900;
  background-image: url(/check.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  margin-top: 7px;
  opacity: 0;
  visibility: hidden;
}